{% extends "authentication/base.html" %}

{% block title %}{{ambiance.name}} {{ambiance.year}}{% endblock %}

{% block content %}

<div>
    <h1>{{user.ambiance}}</h1> <a href="{% url 'add_child' %}">Nouvel élève</a> <br>
    <a href="{% url 'logout' %}">Se déconnecter</a>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {% for student in students %}
         <table>
      <thead>

      </thead>
      <tbody>
        <tr>
            <td>
                <a href="{% url 'Vie_Pratique' student_id=student.id %}">
                    <p><img class="rounded-circle" src="{{student.image.url}}"></p>
                </a>
            </td>
            <td>
                {{student.firstname}}<br> {{student.lastname}}<br>
                <a href="{% url 'student_change' student_id=student.id %}">Modifier</a>
            </td>
        </tr>
        </tbody>

        {% endfor %}

    </div>
    <div class="col-md-2"></div>
</div>



{% endblock content %}