{% extends "three_six/base.html" %}

{% block title %}Mathématiques - {{student.firstname}} {{student.lastname}}{% endblock %}

{% block content %}
<h1>MATHEMATIQUES</h1>
 <a href="{% url 'Mathematiques_change' student_id=mts.student.id %}">Modifier</a>

<div class="big_table">

    <h2>Groupe 1 : Numération de 1 à 10</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Les barres numériques</td>
          <td>{{mts.number_bars}}</td>
        </tr>
        <tr>
          <td>Les chiffres rugueux</td>
          <td>{{mts.rough_numbers}}</td>
        </tr>
        <tr>
          <td>Association barres et chiffres</td>
          <td>{{mts.bars_numbers}}</td>
        </tr>
        <tr>
          <td>Les fuseaux</td>
          <td>{{mts.spindles}}</td>
        </tr>
        <tr>
          <td>Le jeu des jetons</td>
          <td>{{mts.token_game}}</td>
        </tr>
        <tr>
          <td>Le jeu de mémoire</td>
          <td>{{mts.memory_game}}</td>
        </tr>
        </tbody>
      <p>{{mts.observations_group_1}}</p>
      </table>

    <h2>Groupe 2 : Introduction au système décimal et aux opérations</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>SD : 1ère présentation, quantités</td>
          <td>{{mts.sd_quantity}}</td>
        </tr>
        <tr>
          <td>SD : 1ère présentation, symboles</td>
          <td>{{mts.sd_symbol}}</td>
        </tr>
        <tr>
          <td>SD : formation des grands nombres</td>
          <td>{{mts.sd_number}}</td>
        </tr>
        <tr>
          <td>Addition statique / dynamique</td>
          <td>{{mts.add_sd}}</td>
        </tr>
        <tr>
          <td>Soustraction statique / dynamique</td>
          <td>{{mts.sous_sd}}</td>
        </tr>
        <tr>
          <td>Multiplication statique / dynamique</td>
          <td>{{mts.multi_sd}}</td>
        </tr>
       <tr>
          <td>Division statique / dynamique</td>
          <td>{{mts.div_sd}}</td>
        </tr>
      <tr>
          <td>Les timbres : addition S/D</td>
          <td>{{mts.stamps_add}}</td>
        </tr>
      <tr>
          <td>Les timbres : soustraction S/D</td>
          <td>{{mts.stamps_sous}}</td>
        </tr>
      <tr>
          <td>Les timbres : multiplication S/D</td>
          <td>{{mts.stamps_multi}}</td>
        </tr>
      <tr>
          <td>Les timbres : division S/D</td>
          <td>{{mts.stamps_div}}</td>
        </tr>
      <tr>
          <td>La table des points</td>
          <td>{{mts.points_tables}}</td>
        </tr>
        </tbody>
      <p>{{mts.observations_group_2}}</p>
      </table>
   <h2>Groupe 3 : Numération de 11 à l'infini</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>11 à 19 : les quantités</td>
          <td>{{mts.quantity_11_19}}</td>
        </tr>
        <tr>
          <td>11 à 19 : la 1ère table de Seguin</td>
          <td>{{mts.seguin_11_19}}</td>
        </tr>
        <tr>
          <td>11 à 19 : asso quantités symboles</td>
          <td>{{mts.quantity_symbol_11_19}}</td>
        </tr>
        <tr>
          <td>11 à 99 : la 2ème table de Seguin</td>
          <td>{{mts.seguin_11_99}}</td>
        </tr>
        <tr>
          <td>La chaîne de 100</td>
          <td>{{mts.chain_100}}</td>
        </tr>
        <tr>
          <td>La chaîne de 1000</td>
          <td>{{mts.chain_1000}}</td>
        </tr>
       <tr>
          <td>La chaîne du carré</td>
          <td>{{mts.chain_square}}</td>
        </tr>
      <tr>
          <td>La chaîne du cube</td>
          <td>{{mts.chain_cube}}</td>
        </tr>
        </tbody>
      <p>{{mts.observations_group_3}}</p>
      </table>
    <h2>Groupe 4 : 11 à 19 association quantités symboles</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Le jeu du serpent de l'addition</td>
          <td>{{mts.snake_game_add}}</td>
        </tr>
        <tr>
          <td>Le tableau de l'addition</td>
          <td>{{mts.add_table}}</td>
        </tr>
        <tr>
          <td>Tables mémo addition 1, 2, 3, 4</td>
          <td>{{mts.memo_add_table}}</td>
        </tr>
        <tr>
          <td>Le jeu du serpent de la soustraction</td>
          <td>{{mts.snake_game_sous}}</td>
        </tr>
        <tr>
          <td>Le tableau de la soustraction</td>
          <td>{{mts.sous_table}}</td>
        </tr>
        <tr>
          <td>Tables mémo soustraction 1, 2</td>
          <td>{{mts.memo_sous_table}}</td>
        </tr>
       <tr>
          <td>Mémo multiplication : perles couleur</td>
          <td>{{mts.memo_multi}}</td>
        </tr>
      <tr>
          <td>Le tableau de la multiplication</td>
          <td>{{mts.multi_table}}</td>
        </tr>
      <tr>
          <td>Tables mémo multiplication 1, 2, 3</td>
          <td>{{mts.memo_multi_table}}</td>
        </tr>
      <tr>
          <td>Le tableau de la division</td>
          <td>{{mts.div_table}}</td>
        </tr>
      <tr>
          <td>Tables mémo division 1, 2</td>
          <td>{{mts.memo_div_table}}</td>
        </tr>
        </tbody>
      <p>{{mts.observations_group_4}}</p>
      </table>
     <h2>Groupe 5 : Le passage à l'abstraction</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Petit boulier : présentation</td>
          <td>{{mts.little_abacus}}</td>
        </tr>
        <tr>
          <td>Petit boulier : addition S/D</td>
          <td>{{mts.little_abacus_add_sd}}</td>
        </tr>
        <tr>
          <td>Petit boulier : soustraction S/D</td>
          <td>{{mts.little_abacus_sous_sd}}</td>
        </tr>
        <tr>
          <td>Petit boulier : multiplication S/D</td>
          <td>{{mts.little_abacus_multi_sd}}</td>
        </tr>
        <tr>
          <td>Hiérarchies : quantités, symboles, association</td>
          <td>{{mts.hierarchies_quantity_symbol}}</td>
        </tr>
        <tr>
          <td>Grand boulier : présentation</td>
          <td>{{mts.large_abacus}}</td>
        </tr>
       <tr>
          <td>Grand boulier : addition S/D</td>
          <td>{{mts.large_add_sd}}</td>
        </tr>
      <tr>
          <td>Grand boulier : soustraction S/D</td>
          <td>{{mts.large_sous_sd}}</td>
        </tr>
      <tr>
          <td>Grand boulier : multiplication S/D</td>
          <td>{{mts.large_multi_sd}}</td>
        </tr>
      <tr>
          <td>La grande division avec tubes</td>
          <td>{{mts.div_tube}}</td>
        </tr>
        </tbody>
      <p>{{mts.observations_group_5}}</p>
      </table>
    <h2>Groupe 6 : Les fractions</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Les nommer</td>
          <td>{{mts.div_name}}</td>
        </tr>
        <tr>
          <td>Les écrire</td>
          <td>{{mts.div_write}}</td>
        </tr>
        <tr>
          <td>Rechercher les équivalences</td>
          <td>{{mts.find_equivalences}}</td>
        </tr>
        <tr>
          <td>Faire des opérations</td>
          <td>{{mts.make_operations}}</td>
        </tr>

        </tbody>
      <p>{{mts.observations_group_6}}</p>
      </table>

</div>
{% endblock content %}