{% extends "three_six/base.html" %}

{% block title %}Vie Pratique - {{student.firstname}} {{student.lastname}}{% endblock %}

{% block content %}
<h1>VIE PRATIQUE</h1>
 <a href="{% url 'Vie_Pratique_change' student_id=pls.student.id %}">Modifier</a>
    <div class="big_table">

    <h2>Exercices préliminaires</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Se déplacer dans l'ambiance</td>
          <td>{{pls.move_mood}}</td>
        </tr>
        <tr>
          <td>Porter une table seul, à deux</td>
          <td>{{pls.carry_table}}</td>
        </tr>
        <tr>
          <td>Porter un plateau, un objet fragile</td>
          <td>{{pls.Carry_tray}}</td>
        </tr>
        <tr>
          <td>Porter, dérouler et rouler un tapis</td>
          <td>{{pls.Carrying_mat}}</td>
        </tr>
        <tr>
          <td>Ouvrir et fermer une porte</td>
          <td>{{pls.open_close_door}}</td>
        </tr>
        <tr>
          <td>Ouvrir et fermer une fenêtre, un tiroir</td>
          <td>{{pls.open_close_window}}</td>
        </tr>
     </tbody>
      <p>{{pls.observations_preliminary_exercises}}</p>

    </table>
    <h2>Soin du milieu intérieur</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td >Presser une éponge</td>
          <td>{{pls.squeeze_sponge}}</td>
        </tr>
        <tr>
          <td>Visser, dévisser des boulons</td>
          <td>{{pls.Screw_bolts}}</td>
        </tr>
        <tr>
          <td>Ouvrir et fermer un cadenas</td>
          <td>{{pls.open_close_padlock}}</td>
        </tr>
        <tr>
          <td>Se servir de pinces à linge</td>
          <td>{{pls.use_clothes_pegs}}</td>
        </tr>
        <tr>
          <td>Ouvrir et fermer des boites</td>
          <td>{{pls.open_close_boxes}}</td>
        </tr>
        <tr>
          <td>Ouvrir et fermer des flacons</td>
          <td>{{pls.open_close_bottles}}</td>
        </tr>
        <tr>
          <td>Plier des étoffes</td>
          <td>{{pls.fold_fabrics}}</td>
        </tr>
        <tr>
          <td>Plier du papier</td>
          <td>{{pls.fold_paper}}</td>
        </tr>
        <tr>
          <td>Couper du papier avec des ciseaux</td>
          <td>{{pls.cut_paper_scissors}}</td>
        </tr>
        <tr>
          <td>Coller du papier</td>
          <td>{{pls.paste_paper}}</td>
        </tr>
        <tr>
          <td>Epousseter avec un chiffon, un plumeau</td>
          <td>{{pls.dust}}</td>
        </tr>
        <tr>
          <td>Balayer</td>
          <td>{{pls.sweep}}</td>
        </tr>
         <tr>
          <td>Brosser un tapis</td>
          <td>{{pls.brush_carpet}}</td>
        </tr>
        <tr>
          <td>Transvaser avec une cuillère</td>
          <td>{{pls.transfer_spoon}}</td>
        </tr>
        <tr>
          <td>Verser du riz</td>
          <td>{{pls.pour_rice}}</td>
        </tr>
        <tr>
          <td>Verser du sable</td>
          <td>{{pls.pour_sand}}</td>
        </tr>
        <tr>
          <td>Verser de l'eau</td>
          <td>{{pls.pour_water}}</td>
        </tr>
        <tr>
          <td>Verser de l'eau dans des verres</td>
          <td>{{pls.pour_water_glasses}}</td>
        </tr>
        <tr>
          <td>Nettoyer un miroir</td>
          <td>{{pls.clean_mirror}}</td>
        </tr>
        <tr>
          <td>Astiquer les cuivres</td>
          <td>{{pls.polish_brass}}</td>
        </tr>
        <tr>
          <td>Soigner les plantes</td>
          <td>{{pls.take_care_plants}}</td>
        </tr>
        <tr>
          <td>Changer l'eau des fleurs</td>
          <td>{{pls.chang_flower_water}}</td>
        </tr>
        <tr>
          <td>Laver la table</td>
          <td>{{pls.wash_table}}</td>
        </tr>
        <tr>
          <td>Laver du linge</td>
          <td>{{pls.wash_clothes}}</td>
        </tr>
     </tbody>
      <p>{{pls.observations_care_interior}}</p>
  </table>
     <h2>Soin de la personne</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cadre à boutons pressions</td>
          <td>{{pls.frame_press_studs}}</td>
        </tr>
        <tr>
          <td>Cadre à gros boutons</td>
          <td>{{pls.frame_big_studs}}</td>
        </tr>
        <tr>
          <td>Cadre à petits boutons</td>
          <td>{{pls.frame_small_studs}}</td>
        </tr>
        <tr>
          <td>Cadre à glissière</td>
          <td>{{pls.frame_slide}}</td>
        </tr>
        <tr>
          <td>Cadre à agrafes</td>
          <td>{{pls.frame_staple}}</td>
        </tr>
        <tr>
          <td>Cadre à boucles</td>
          <td>{{pls.frame_loop}}</td>
        </tr>
        <tr>
          <td>Cadre à épingles à nourrice</td>
          <td>{{pls.frame_safety_pin}}</td>
        </tr>
        <tr>
          <td>Cadre à noeuds</td>
          <td>{{pls.frame_node}}</td>
        </tr>
        <tr>
          <td>Cadre à laçage</td>
          <td>{{pls.frame_lacing}}</td>
        </tr>
        <tr>
          <td>Se laver les mains</td>
          <td>{{pls.wash_hands}}</td>
        </tr>
        <tr>
          <td>Cirer ses chaussures</td>
          <td>{{pls.shine_shoes}}</td>
        </tr>
        <tr>
          <td>Coudre</td>
          <td>{{pls.sew}}</td>
        </tr>
     </tbody>
      <p>{{pls.observations_personal_care}}</p>
  </table>
     <h2>Jeux collectifs</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Activités</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Marcher sur la ligne</td>
          <td>{{pls.walk_line}}</td>
        </tr>
        <tr>
          <td>Leçon de silence</td>
          <td>{{pls.lesson_silence}}</td>
        </tr>
     </tbody>
      <p>{{pls.observations_collective_games}}</p>
  </table>



  </div>


<!--
</div>






</div>
  <ul class="navbar">
            <li><a href="">Vie Pratique</a> </li>
            <li><a href="">Vie Matériel Sensoriel</a> </li>
            <li><a href="">Mathématiques</a> </li>
            <li><a href="">Langage</a> </li>
        </ul>
</div>


-->

{% endblock content %}