{% extends "three_six/base.html" %}

{% block title %}Matériel Sensoriel - {{student.firstname}} {{student.lastname}}{% endblock %}

{% block content %}
<h1>MATERIEL SENSORIEL</h1>
<a href="{% url 'Materiel_sensoriel_change' student_id=mss.student.id %}">Modifier</a>
<div class="big_table">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Activités</th>
        <th scope="col">Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Emboitements cylindriques 1</td>
        <td>{{mss.cylindrical_sockets_1}}</td>
      </tr>
      <tr>
        <td>Emboitements cylindriques 2</td>
        <td>{{mss.cylindrical_sockets_2}}</td>
      </tr>
      <tr>
        <td>Emboitements cylindriques 3</td>
        <td>{{mss.cylindrical_sockets_3}}</td>
      </tr>
      <tr>
        <td>Emboitements cylindriques 4</td>
        <td>{{mss.cylindrical_sockets_4}}</td>
      </tr>
      <tr>
        <td>La tour rose</td>
        <td>{{mss.pink_tower}}</td>
      </tr>
      <tr>
        <td>L'escalier marron</td>
        <td>{{mss.brown_staircase}}</td>
      </tr>
      <tr>
        <td>Les barres rouges</td>
        <td>{{mss.red_bars}}</td>
      </tr>
      <tr>
        <td>Les tables des couleurs 1</td>
        <td>{{mss.color_table_1}}</td>
      </tr>
      <tr>
        <td>Les tables des couleurs 2</td>
        <td>{{mss.color_table_2}}</td>
      </tr>
      <tr>
        <td>Les tables des couleurs 3</td>
        <td>{{mss.color_table_3}}</td>
      </tr>
      <tr>
        <td>Le cabinet de géométrie/plateau</td>
        <td>{{mss.geometry_tray}}</td>
      </tr>
      <tr>
        <td>Le cabinet de géométrie/cartes</td>
        <td>{{mss.geometry_drawers}}</td>
      </tr>
      <tr>
        <td>Le cabinet de géométrie/tiroirs</td>
        <td>{{mss.geometry_drawers}}</td>
      </tr>
      <tr>
        <td>Le cabinet de géométrie/cartes</td>
        <td>{{mss.geometry_maps}}</td>
      </tr>
      <tr>
        <td>Lisse et rugueux</td>
        <td>{{mss.smooth_rough}}</td>
      </tr>
      <tr>
        <td>Lisse et rugueux : les tablettes</td>
        <td>{{mss.smooth_rough_table}}</td>
      </tr>
      <tr>
        <td>Les étoffes</td>
        <td>{{mss.fabrics}}</td>
      </tr>
      <tr>
        <td>Les solides géométriques</td>
        <td>{{mss.geometric_solids}}</td>
      </tr>
      <tr>
        <td>Le sac à mystères</td>
        <td>{{mss.mystery_bag}}</td>
      </tr>
      <tr>
        <td>Les sacs stéréognostiques</td>
        <td>{{mss.stereognostic_bag}}</td>
      </tr>
      <tr>
        <td>Le tri des graines</td>
        <td>{{mss.seed_sorting}}</td>
      </tr>
      <tr>
        <td>Les tablettes baryques</td>
        <td>{{mss.baryque_tablets}}</td>
      </tr>
      <tr>
        <td>Les boites à bruits</td>
        <td>{{mss.noise_boxes}}</td>
      </tr>
      <tr>
        <td>Les odeurs</td>
        <td>{{mss.smells}}</td>
      </tr>
      <tr>
        <td>Les saveurs</td>
        <td>{{mss.flavours}}</td>
      </tr>
      <tr>
        <td>Les bouteilles thermiques</td>
        <td>{{mss.thermal_bottles}}</td>
      </tr>
      <tr>
        <td>Les tablettes thermiques</td>
        <td>{{mss.thermal_tablets}}</td>
      </tr>
      <tr>
        <td>Les triangles constructeurs 1</td>
        <td>{{mss.constructor_triangles_1}}</td>
      </tr>
      <tr>
        <td>Les triangles constructeurs 2</td>
        <td>{{mss.constructor_triangles_2}}</td>
      </tr>
      <tr>
        <td>Les triangles constructeurs 3</td>
        <td>{{mss.constructor_triangles_3}}</td>
      </tr>
      <tr>
        <td>Les triangles constructeurs 4</td>
        <td>{{mss.constructor_triangles_4}}</td>
      </tr>
      <tr>
        <td>Les triangles constructeurs 5/td>
        <td>{{mss.constructor_triangles_5}}</td>
      </tr>
      <tr>
        <td>Les triangles constructeurs 6</td>
        <td>{{mss.constructor_triangles_6}}</td>
      </tr>
      <tr>
        <td>Les figures superposées</td>
        <td>{{mss.superimposed_figures}}</td>
      </tr>
      <tr>
        <td>Le cube du binôme</td>
        <td>{{mss.binomial_cube}}</td>
      </tr>
      <tr>
        <td>Le cube du trinôme</td>
        <td>{{mss.trinomial_cube}}</td>
      </tr>
       <tr>
        <td>La table de Pythagore</td>
        <td>{{mss.pythagore_table}}</td>
      </tr>
      <tr>
        <td>Les cylindres de couleur</td>
        <td>{{mss.colored_cylinders}}</td>
      </tr>
      <tr>
        <td>Le cabinet de botaniques/plateau</td>
        <td>{{mss.botanical_tray}}</td>
      </tr>
       <tr>
        <td>Le cabinet de botaniques/cartes</td>
        <td>{{mss.botanical_maps}}</td>
      </tr>
       <tr>
        <td>Les clochettes</td>
        <td>{{mss.bells}}</td>
      </tr>
       <tr>
        <td>Le globe lisse et rugueux</td>
        <td>{{mss.smooth_rough_globe}}</td>
      </tr>
       <tr>
        <td>Le globe coloré</td>
        <td>{{mss.colorful_globe}}</td>
      </tr>
       <tr>
        <td>Le planisphère</td>
        <td>{{mss.planisphere}}</td>
      </tr>
       <tr>
        <td>Les puzzles des continents</td>
        <td>{{mss.puzzles_continents}}</td>
      </tr>
      <tr>
        <td>Les drapeaux</td>
        <td>{{mss.flags}}</td>
      </tr>
      <tr>
        <td>Les drapeaux : nomenclature classifiée</td>
        <td>{{mss.flags_1}}</td>
      </tr>
      <tr>
        <td>Les contrastes de la terre et de l'eau</td>
        <td>{{mss.land_water}}</td>
      </tr>
       <tr>
        <td>La carte de l'Europe</td>
        <td>{{mss.europe}}</td>
      </tr>
      <tr>
        <td>Les objects qui coulent, qui flottent</td>
        <td>{{mss.sink_float}}</td>
      </tr>
      <tr>
        <td>l'eau qui s'équilibre sur un plan horizontal</td>
        <td>{{mss.horizontal_water}}</td>
      </tr>
      <tr>
        <td>La direction du nord</td>
        <td>{{mss.north}}</td>
      </tr>
      <tr>
        <td>L'eau et l'air 1</td>
        <td>{{mss.water_air_1}}</td>
      </tr>
      <tr>
        <td>L'eau et l'air 2</td>
        <td>{{mss.water_air_2}}</td>
      </tr>
      <tr>
        <td>L'eau et l'air 3</td>
        <td>{{mss.water_air_3}}</td>
      </tr>
      <tr>
        <td>L'électricité</td>
        <td>{{mss.electricity}}</td>
      </tr>
       <tr>
        <td>Les aimants 1</td>
        <td>{{mss.magnets_1}}</td>
      </tr>
      <tr>
        <td>Les aimants 2</td>
        <td>{{mss.magnets_2}}</td>
      </tr>
      <tr>
        <td>L'arche romane</td>
        <td>{{mss.roman_arch}}</td>
      </tr>
   </tbody>
    <p>{{mss.observations}}</p>
</table>

</div>

{% endblock content %}