<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/
        normalize.min.css">
        <link rel="stylesheet" href="{% static 'authentication/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'authentication/css/styles.css' %}">
    </head>
    <body>
        <div class="container-fluid block_page">
            <header class="site-header">
                    <img src="{% static 'authentication/logo.png' %}" alt="LOGO" class="image_logo" width="200" >
                    <h1>SUIVI DES APPRENTISSAGES</h1>
                <h1></h1>
            </header>

            <div class="container pt-5" >

                 {% block content %}{% endblock content %}
            </div>
        </div>
    </body>
</html>