{% extends "authentication/base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
<h1>SUIVI DES APPRENTISSAGES</h1>

<div class="row forms">
        <div class="col-md-6 signup">
            <div class="signup_btn">
                <form  action="{% url 'parent' %}" method='get' >
                <input class="btn btn-outline-dark" type='submit' value="Espace parents">
                </form>
            </div>
        </div>
        <div class="col-md-6 signup">
                <div class="signup_btn">
                    <form  action="{% url 'login' %}" method='get' >
                    <input class="btn btn-outline-dark" type='submit' value="Espace éducatrices">
                    </form>
                </div>
        </div>
    </div>


{% endblock content %}