{% extends "authentication/base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}

<div class="row forms">
    <div class="col-md-6">
        <h2>Enregistrez-vous</h2>
        <div class="signup_btn">
            <form  action="{% url 'signup' %}" method='get' >
            {% csrf_token %}
            <input class="btn btn-outline-dark" type='submit' value="S'enregistrer">
            </form>
        </div>
    </div>
    <div class="col-md-6 login">
        <h2>Connectez-vous</h2>
        <p>{{ message}}</p>
        <div class="login_form">
            <form method='post'> {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-dark" type='submit' >Se connecter</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}