{% extends "authentication/base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
        <div class="col-md-6 login">
            <h1>Connectez-vous</h1>
            <p>{{ message}}</p>
            <div class="login_form">
                <form method='post'> {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn-outline-dark" type='submit' >Se connecter</button>
                </form>
            </div>
        </div>
{% endblock content %}